{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/subjects.css' %}">
{% endblock extra_css %}

{% block title %}
    Subjects
{% endblock title %}

{% block content %}
    <main id="{{ section }}">
        <div class="container">
            <h2>Your subjects</h2>
            <div class="subjects">
                {% for subject in subjects %}
                    <div class="subject">
                        <div class="date">{{ subject.date_added|date:"D, d M Y" }}</div>
                        <h3><a href="{% url 'logs:subject_detail' subject.slug %}">{{ subject.name }}</a></h3>
                        {% if subject.detail %}
                            <p>{{ subject.detail }}</p>
                        {% else %}
                            <p class="error">This subject has no detail.</p>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>There are no subjects yet.</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}